JacobianAssembleTimer: 0.843141 sec
ResidualTimer: 0.075646 sec
LinearSolveTimer: 0.214082 sec
1: IterationTimer: 1.38548 sec
CommTimer: 0.054585 sec
ResidualTimer: 0.08545 sec
LinearSolveTimer: 0.319297 sec
2: IterationTimer: 0.750527 sec
CommTimer: 0.137035 sec
ResidualTimer: 0.085415 sec
LinearSolveTimer: 0.189169 sec
3: IterationTimer: 0.560098 sec
CommTimer: 0.019362 sec
ResidualTimer: 0.087508 sec
LinearSolveTimer: 0.187036 sec
4: IterationTimer: 0.54661 sec
CommTimer: 0.007436 sec
JacobianAssembleTimer: 1.05782 sec
ResidualTimer: 0.086355 sec
LinearSolveTimer: 0.430659 sec
5: IterationTimer: 1.9427 sec
CommTimer: 0.136704 sec
ResidualTimer: 0.088143 sec
LinearSolveTimer: 0.18817 sec
6: IterationTimer: 0.578012 sec
CommTimer: 0.021867 sec
ResidualTimer: 0.089283 sec
LinearSolveTimer: 0.187314 sec
7: IterationTimer: 0.56476 sec
CommTimer: 0.008005 sec
ResidualTimer: 0.133503 sec
LinearSolveTimer: 0.495559 sec
8: IterationTimer: 0.897912 sec
CommTimer: 0.221849 sec
ResidualTimer: 0.091504 sec
LinearSolveTimer: 0.346206 sec
9: IterationTimer: 1.02788 sec
CommTimer: 0.232324 sec
JacobianAssembleTimer: 1.4627 sec
ResidualTimer: 0.117003 sec
